<div class = "container">
  <%= simple_form_for @way, html: { class: 'form-horizontal' }, remote: true do |f| %>
    <div class = "row">
        <div class="col-xs-6 col-sm-5">
          <%= f.input :start_airport, collection: @airports, label_method: :name, value_method: :code %>
        </div>
        <div class="col-xs-6 col-sm-5">
          <%= f.label :start_date %></br>
          <%= f.date_field :start_date, class: "form-control" %></br>
        </div>
    </div>

    <div class = "row">
      <div class="col-xs-6 col-sm-5">
        <ul class="stopover-options list-inline">
          <%= render partial: 'stopover' %>
        </ul>
      </div>
    </div>

    <div class = "row">
      <div class="col-xs-6 col-sm-5">
        <%= f.input :end_airport, collection: @airports, label_method: :name, value_method: :code %>
      </div>
      <div class="col-xs-6 col-sm-5">
        <%= f.label :end_date %></br>
        <%= f.date_field :end_date, class: "form-control" %></br>
      </div>
    </div>

    <div class = "row">
      <div class="col-xs-6 col-sm-5">
          <%= f.button :submit %>
      </div>
    </div>
  <% end %>
</div>
