<div class = "container">
  <%= simple_form_for @leg, html: { class: 'form-horizontal' }, remote: true do |f| %>
    <div class = "row">
        <div class="col-xs-6 col-sm-5">
          <%= f.input :origin, collection: @airports.order(:name), label_method: lambda { |airport| "#{airport.name} (#{airport.code}) - #{airport.city} | #{airport.country}" } %>
        </div>
        <div class="col-xs-6 col-sm-5">
          <%= f.input :departure, as: :date_picker, label: "Departure date",
            input_html: {data: {date_options: {defaultDate: 4.weeks.from_now}}, class: "datetimepicker form-control"} %></br>
        </div>
    </div>

    <div class = "row">
      <div class="col-xs-6 col-sm-5">
        <ul class="stopover-options list-inline">
          <% render partial: 'stopover', collection: @stopovers, as: :airport %>
        </ul>
      </div>
    </div>

    <div class = "row">
      <div class="col-xs-6 col-sm-5">
        <%= f.input :destination, collection: @airports.order(:name), label_method: lambda { |airport| "#{airport.name} (#{airport.code}) - #{airport.city} | #{airport.country}" } %>
      </div>
      <div class="col-xs-6 col-sm-5">
        <%= f.input :arrival, as: :date_picker, label: "Arrival date", input_html: {class: "datetimepicker form-control"} %></br>
      </div>
    </div>

    <div class = "row">
      <div class="col-xs-6 col-sm-5">
          <%= f.button :submit %>
      </div>
    </div>
  <% end %>
</div>
<script type="text/javascript">
    $('.datetimepicker').datetimepicker();
</script>
